{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>Thegram - {{title}}</title>
    {% else %}
    <title>Thegram</title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% endblock %}
  </head>
  <body>
    {% include "navbar.html" %}
    <header>
      <h1>Thegram</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'post' %}">Post</a>
      {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
