<!DOCTYPE html>
{%load bootstrap3%}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>
  <div class="navbar navbar-inverse" style="opacity 0.7">
   <div class="container-fluid">

     <div class="navbar-header">
              <a href="/" class="navbar-brand"><img src="../../static/images/1.png" width="160" height="50" alt="The gram">
      </div>
       <a class="navbar-brand" href="{% url 'intro' %}"></a>
     </div>
     <div id="main" class="navbar-collapse collapse">
                 <ul class="nav navbar-nav navbar-right">
                     {% if request.user.is_authenticated %}
                         <li>

                             <i class="fa fa-home"aria-hidden="true"></i>
                           </a>
                         </li>
                         <li><i class="fa fa-compass" aria-hidden="true"></i></a></li>
                         <li><i class="fa fa-cloud-upload" aria-hidden="true"></i></a></li>
                         <li><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                         <li><i class="fa fa-user" aria-hidden="true"></i></a></li>
                         <li><i class="fa fa-sign-out " aria-hidden="true"></i></a></li>
                     {% else %}
                         <li><a href="/accounts/login">Login</a></li>
                         <li><a href="/accounts/register/">Signup</a></li>
                     {% endif %}
                 </ul>
             </div>
           </div>
   </div>
 </div>
</body>
</html>
