{% extends 'base.html' %}
{% load static %}
{% block content %}
{%for profile in profile_data %}

 <div class="profile_pic">
   <div class="row">
     <div class="col-xs-4 left">
       {% if profile.profile_photo %}
         <img class="img-responsive img-circle" src="{{ profile.profile_photo.url }}">
       {% else %}
         <img class="img-responsive img-circle" src="{% static 'images/avatar_user.png' %}">
       {% endif %}
     </div>

     <span class='prof'>
       <span class="p.p">
         {{ profile.owner_profile.username }}
       </span>

       {% if profile.owner_profile == request.user %}
        <a href="{% url 'profile' %}">
          <button type="submit" class="btn btn-xs">
            Edit Profile
          </button>
        </a>
        {% endif %}
        </span>

        <br>
          <span class="pf">
            <li>
              {{profile.image_set.count}} Posts
            </li>
            <li>
              {{profile.profile_follow.count}} Followers
            </li>
            <li>
              {{profile.profile_follow.count}} Following
            </li>
          </span>
        </br>

        <br>
          <b>
            {{profile.owner_profile.email}}
          </b>
        </br>

   </div>
</div>

{% endfor %}
{% endblock %}
